<!DOCTYPE html>
<html>
  <head>
    <title>MyExperience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag local_assigns[:app_name], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
